table {
  width: 360px;
  height: 260px;
  border: 2px solid lightgray;
}

table td {
  border: 2px solid lightgray;
}

table td.path {
  background-color: aliceblue;
}

table td.blip {
  background-color: antiquewhite;
}

table td.boinger.blip {
  background-color: lightcoral;
}

#game-container { width: 360px; }
#top-left-control,
#bottom-left-control { float: left; }
#top-right-control,
#bottom-right-control { float: right; }

#notification-wrapper { float: left; width: 100%; margin-top: 20px; font-size: 40px; }
